@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?k8ac80');
	src:url('fonts/icomoon.eot?#iefixk8ac80') format('embedded-opentype'),
		url('fonts/icomoon.ttf?k8ac80') format('truetype'),
		url('fonts/icomoon.woff?k8ac80') format('woff'),
		url('fonts/icomoon.svg?k8ac80#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}
.icon-location:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
